{{- with .Params.authors -}}
  {{- $authors := . -}}
  {{- range $index, $element := $authors -}}
    {{- $value := "" -}}
    {{- $key := substr $element 1 -}}
    {{- if (and (eq (substr $element 0 1) "@") (isset $.Site.Data.people $key)) -}}
      {{- $author := index $.Site.Data.people $key -}}
      {{- $name := index $author "name" -}}
      {{- $url := "" -}}
      {{- if (isset $author "url") -}}
        {{- $url = index $author "url" -}}
      {{- end -}}
      {{- if (ne $url "") -}}
        {{- $value = printf "[%s](%s)" $name $url -}}
      {{- else -}}
        {{- $value = $name -}}
      {{- end -}}
    {{- else -}}
      {{- . | markdownify -}}
      {{- end -}}
      {{- if (ne (add $index 1) (len $authors)) -}}
      {{- printf "%s,&nbsp;" $value | markdownify -}}
      {{- else -}}
      {{- $value | markdownify -}}
    {{- end -}}
  {{- end -}}
{{- end -}}