{{ if not (or (eq .Site.Params.profile false) (eq .Params.profile false)) }}

{{/* if or (not .Params.authors) (eq $author $.Site.Params.name) */}}
<div class="col-12"><h3>Authors</h3></div>
<div class="row author-card">
{{- range $index, $element := .Params.authors -}}
{{- $value := "" -}}
{{- $key := substr $element 1 -}}
{{- $author_name := $element -}}
{{- $author_url := "" -}}
{{- $author_email := "" -}}
{{- $author_gravatar := false -}}
{{- $author_avatar := "" -}}
{{- $author_role := "" -}}
{{- $author_bio := "" -}}
{{- $author_social := "" -}}
{{- if (and (eq (substr $element 0 1) "@") $.Site.Data.people) -}}
  {{- $author := index $.Site.Data.people $key -}}
  {{- $author_name = index $author "name" -}}
  {{- $author_url = index $author "url" -}}
  {{- $author_email = index $author "email" -}}
  {{- $author_gravatar = index $author "gravatar" -}}
  {{- $author_avatar = index $author "avatar" -}}
  {{- $author_role = index $author "role" -}}
  {{- $author_bio = index $author "bio" -}}
  {{- $author_social = index $author "social" -}}
{{- end -}}
<div class="media col-lg-6 mt-1 mb-3" itemscope itemtype="http://schema.org/Person">
  {{ if $author_gravatar }}
  <img class="portrait mr-3" src="https://www.gravatar.com/avatar/{{ md5 $author_email }}?s=200" itemprop="image" alt="Avatar">
  {{ else if $author_avatar }}
  <img class="portrait mr-3" src="{{ (printf "img/%s" $author_avatar) | relURL }}" itemprop="image" alt="Avatar">
  {{ else if $author_email }}
  <img class="portrait mr-3" src="https://www.gravatar.com/avatar/{{ md5 $author_email }}?s=200&d=identicon" itemprop="image" alt="Avatar">
  {{ else }}
  <img class="portrait mr-3" src="https://www.gravatar.com/avatar/{{ md5 $author_name }}?s=200&d=identicon" itemprop="image" alt="Avatar">
  {{ end }}
  <div class="media-body">
    <h5 class="card-title mb-0" itemprop="name">{{ if $author_url }}<a href="{{ $author_url }}">{{ end }}{{ $author_name | markdownify }}{{ if $author_url }}</a>{{ end }}</h5>
    <!-- {{ with $author_role }}<h6 class="card-subtitle">{{.}}</h6>{{end}} -->
    {{ with $author_bio }}<p class="card-text" itemprop="description">{{. | markdownify | emojify }}</p>{{end}}
    <ul class="network-icon mt-2" aria-hidden="true">
      {{ if $author_social }}
      {{ range $author_social }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := .link }}
      {{ $scheme := (urls.Parse $link).Scheme }}
      {{ $target := "" }}
      {{ if not $scheme }}
        {{ $link = .link | relLangURL }}
      {{ else if in (slice "http" "https") $scheme }}
        {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
      <li>
        <a itemprop="sameAs" href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
          <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i>
        </a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
{{end}}
</div>
{{end}}
